# Gradle
.gradle/
build/
out/
classes/

# Eclipse
*.launch

# IntelliJ
.idea/
*.iml
*.ipr
*.iws

# VS Code
.vscode/
.factorypath

# Fabric
run/
.fabric/

# MacOS
.DS_Store

# Windows
Thumbs.db

# Misc
*.log
logs/

# Claude
.claude/
